<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf tutorial: exercise 2</title>
    <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Thymeleaf tutorial - Answer for exercise 1: bean values</h1>
<h2>Product information</h2>
<tr th:each="message : ${krupa}">
    <td th:text="${message.id}">1</td>
    <td><a href="#" th:text="${message.name}">Title ...</a></td>
    <td th:text="${message.value}">Text ...</td>
</tr>
</body>
</html>
